<% form_for :session, @session, :url => { :action => "new" }, :html => { :id => "session" } do |f| %>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td>Date</td>
		<td><%= f.date_select(:workoutdate) %></td>
	</tr>
	<tr>
		<td>Distance</td>
		<td><%= f.text_field(:distance) %></td>
	</tr>
	<tr>
		<td>Time Taken</td>
		<td><%= f.text_field(:timetakenastext) %></td>
	</tr>
	<tr valign="top">
		<td>Comments</td>
		<td><%= f.text_area(:comments) %></td>
	</tr>
</table>
<%= content_tag('div', render(:partial => "sessionErrors") ) if !@session.errors.nil? %>
<div class='buttonwrapper'>
	<a class='ovalbutton' href='#' onclick="$('session').submit()"><span>Save</span></a>
	<a class='ovalbutton' href='<%= url_for(:action => "index")%>' style="margin-left: 0.5em"><span>Back</span></a>
</div>
<% end -%>
