<% form_for :currentbody, @currentbody, :html => { :id => "bodyform" } do |f| %>
<%= f.hidden_field(:id) %>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td>Measurement Date</td>
		<td><%= f.date_select(:measurementdate) %></td>
	</tr>
	<tr>
		<td>Weight</td>
		<td><%= f.text_field(:weight) %></td>
	</tr>
</table>
<%= content_tag('div', render(:partial => "bodyErrors") ) if !@currentbody.errors.nil? %>
<p>
	<a href='#' onclick="$('bodyform').submit()" class="action"><span>Save</span></a>
	<a href='<%= @back %>' style="margin-left: 0.5em" class="action"><span>Back</span></a>
</p>
<% end -%>
